* {
    font-family: 'Noto Sans KR', sans-serif;
    
}
body {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    margin: 0px;
    user-select: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(./images/bg.jpg);
    background-size: cover;
}
header > * {
    margin: 0px;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    margin: auto;
    margin-bottom: 20px;
}
nav ol {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 200px;
    height: 100%;
    padding: 0px;
    margin: 20px 0px;
}
nav li {
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
}
nav button {
    width: 80px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    color: black;
}
nav button.active {
    background-color: rgb(61, 61, 61);
    border-radius: 17px;
    color: white;
}
nav button:hover{
    cursor: pointer;
}
nav .searchBox {
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding:0px 20px 0px 20px;
    margin: 8px 0px 20px 0px;
    background-color: rgba(215, 215, 215, 0.3);
}
nav .searchBox input {
    border: none;
    flex-grow: 1;
    height: 100%;
    padding-left: 10px;
    background-color: rgba(215, 215, 215, 0);
}
nav .searchBox input:focus {
    outline: none;
}
nav .searchBox a {
    text-decoration: none;
    color: black;
}
section {
    width: fit-content;
    margin: auto;
}

section .itemContainer {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0px;
    width: 762px;
}

section .itemCard {
    display: inline;
    margin: 2px;

}
section .itemCard.disable {
    display: none;
}

section .itemCard .image {
    position: relative;
    height: 250px;
    overflow: hidden;
}



section .itemCard .hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(100, 100, 100, 0.6);
    opacity: 0%;
    z-index: 10;
    width: 250px;
    height: 250px;
}
section .itemCard .hover:hover {
    opacity: 100%;
}
section .itemCard .hover:hover ~ img{
    transform: scale( 1.05 );
}


section .itemCard .hover span {
    color: white;
    font-weight: bold;
    font-size: large;
}

section .itemCard img {
    position: relative;
    width: 250px;
    height: 250px;
    transition: all 0.2s linear;
    z-index: -1;
    object-fit: cover;
}


.modalContainer {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.modalContent {
    /* display:flex */
    display: none;
    position:absolute;
    background-color: white;
    width: 80%;
    min-width: fit-content;
    max-width: 1200px;
    height: 90%;
    max-height: 600px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modalContent .imageBox {
    flex-grow: 1;
    position: relative;
    user-select: none;
    width: 450px;
    overflow: hidden;
}
.imageBox .arrowBox {
    display: flex;
    position: absolute;
    z-index: 555;
    width: 100%;
    height: 100%;
    align-items: center;
}
.imageBox .arrowBox .arrow {
    text-align: center;
    color: rgb(140, 140, 140);
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    line-height: 30px;
    transition: 0.1s;
}
.imageBox .arrowBox .arrow:hover {
    cursor: pointer;
}
.imageBox .arrowBox .left {
    position: absolute;
    left: 10px;
}
.imageBox .arrowBox .left.disable {
    opacity: 0;
}
.imageBox .arrowBox .right {
    position: absolute;
    right: 10px;
}
.imageBox .arrowBox .right.disable {
    opacity: 0;
}
.imageBox .bulletBox {
    display: flex;
    position: absolute;
    z-index: 444;
    width: 100%;
    height: 100%;
    align-items: end;
    justify-content: center;
}
.imageBox .bulletBox ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.imageBox .bulletBox li {
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 80px;
    transition: 0.1s;
}
.imageBox .bulletBox .bullet {
   color: white;
}
.imageBox .imgList {
    display: inline-flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.85);
}
.imageBox .imgList li {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-shrink:0;
}
.imageBox .imgList img {
    width: auto;
    min-width: 350px;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}
.imageBox .imgList li.display {
    display: inline-flex;
}
.imageBox .imgList li.slideleft1 {
    animation: slideleft1 .4s ease forwards;
}
.imageBox .imgList li.slideright1 {
    animation: slideright1 .4s ease forwards;

}
.imageBox .imgList li.slideleft2 {
    animation: slideleft2 .4s ease forwards;

}
.imageBox .imgList li.slideright2 {
    animation: slideright2 .4s ease forwards;
}


.modalContainer .descriptionBox {
    width: 500px;
    padding: 20px;
    text-align: center;
}
.descriptionBox > div {
    margin-bottom: 10px;
}
.descriptionBox .title {
    line-height: 50px;
    font-size: 26px;
    font-weight: bold;
}
.descriptionBox .duration {
    color: gainsboro;
}
.descriptionBox .description {
    margin-top: 60px;
}
.descriptionBox .map {
    position: absolute;
    bottom: 10px;
}
footer {
    font-weight: lighter;
    font-size: small;
    line-height: 10px;
    padding: 50px;
    text-align: center;
    margin-top: 70%;
    background-color: #333333;
    height: 100px;
    color: white;
}


@keyframes slideleft1{
    from{
        left:0%;
    }
    to{
        left:-100%;
    }
}
@keyframes slideright1{
    from{
        left:100%;
    }
    to{
        left:0%;
    }
}
@keyframes slideleft2{
    from{
        left:-100%;
    }
    to{
        left:0%;
    }
}
@keyframes slideright2{
    from{
        left:0%;
    }
    to{
        left:100%;
    }
}